# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Config file with secrets
config.yml

# Dists
dist/

# Except config for circleci
!/.circleci/config.yml
